* {
  box-sizing: border-box;
  background-color: black;
}

.border {
  transition: all 1000ms;
  border: 10px solid #ff00ff;
  border-radius: 100%;
}

.reset {
  transition: all ease-out 500ms;
  border-radius: 0%;
  border: none;
}
